<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>
<h3>Домашка по базе данных Netflix</h3>
<ol>
    <li><a href="/movie/title">Поиск фильмов по названию</a></li>
    <li><a href="/movie/year">Поиск фильмов по дате релиза</a></li>
    <li><a href="/movie/rating">Поиск фильмов по возрастному рейтингу</a></li>
    <li><a href="/movie/genre">Поиск фильмов по жанру</a></li>
    <li><a href="/movie/actors">Поиск по актёрам</a></li>
    <li><a href="/movie/search">Поиск по трём параметрам</a></li>
</ol>
</body>
</html>